# --- OS / editor ---
.DS_Store
*.swp
*.swo
*.log
.vscode/
.idea/

# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Expo ---
.expo/
.expo-shared/
web-build/
dist/
coverage/

# --- React Native ---
android/.gradle/
android/local.properties
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# --- Env ---
.env
.env.*
