# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# OS junk
.DS_Store

# env files
.env
.env.*

# Firebase
.firebase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/
